.App {
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    margin: auto;
    border: 1px orange solid;
    overflow: scroll;
  }

  .App_header {
    padding-left: 20px;
    padding-right: 20px;
  }
