.Header {
    height: 40px;
    display: flex;
    align-items: normal;
    justify-content: center;
  }
  
  .Header h1 {
    margin: 0;
  }

  .Header h1:hover{
    background: linear-gradient(to bottom, yellowgreen 0%, lightgreen 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  @media screen and (min-width: 450px) {
    .Header {
      align-items: center;
    }
  
    .Header h1 {
      font-size: 22pt;
    }
  }
  
  @media screen and (max-width: 490px) {
    .Header__tagline--wide {
      display: none;
    }
  
    .Header__tagline--narrow {
      display: inherit;
    }
  }
  