@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkblue;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Press Start 2P';
  font-weight: 100;
  background: linear-gradient(to bottom, orange 0%, orangered 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

p {
  color: whitesmoke;
}
